@model IEnumerable<MD_Sponsors.Models.Advertisment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endorsment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferralCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                CLICK ME!
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endorsment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferralCode)
                </td>
                <td>
                    <img width="250" height="380" src="@item.Image" />
                </td>
                <td>
                    <a class="btn btn-outline-success btn-lg" href="@Html.DisplayFor(modelItem => item.LinkToProduct)">BUY ME!</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-lg" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-outline-info btn-lg" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a class="btn btn-outline-danger btn-lg" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
